<?xml version='1.0' encoding='UTF-8'?>

<WebWorksHelpSettings version="4.0.0">
 <Common>
  <Cookies enable="true" daystoexpire="30" id="ETEPHNSS" />

  <!-- Accessible values are "true", "false", "ask" -->
  <Accessible value="false" />

  <!-- See Also links (Associative links) -->
  <SeeAlso showbook="false">
   <Size width="250" />
   <Indent value="17" />
   <Title>
    <Font style="font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif ; font-size: 8pt" />
    <Colors foreground="#FFFFFF" background="#999999" />
   </Title>
   <Font style="font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif ; font-size: 8pt" />
   <Colors foreground="#ECF1F8" background="#FFFFFF" border="#666666" />
  </SeeAlso>

  <NavigationBar>
   <SyncContents enable="true" />

   <Previous enable="true" />

   <Next enable="true" />

   <RelatedTopics enableicon="false" enableinline="false">
    <Title>
     <Font style="font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif ; font-size: 8pt" />
     <Colors foreground="#FFFFFF" background="#999999" />
    </Title>
    <Inline>
     <Font style="font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif ; font-size: 8pt" />
     <Colors foreground="#ECF1F8" />
    </Inline>
    <Font style="font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif ; font-size: 8pt" />
    <Colors foreground="#ECF1F8" background="#FFFFFF" border="#666666" />
    <Size width="250" />
   </RelatedTopics>

   <Email enable="true" address="support@macrovision.com" />

   <Print enable="true" />

   <Bookmark enable="false" />
  </NavigationBar>

  <Tabs>
   <!-- border color not used by Java applet -->
   <DefaultColors foreground="#ffffff" background="#2A5CB2" border="#ffffff" />
   <SelectedColors foreground="#2A5CB2" background="#ECF1F8" border="#ECF1F8" />
  </Tabs>

  <Panels>
   <HoverText enable="true">
    <!-- <Font> option not used by Java applet -->
    <Font style="font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif ; font-size: 8pt" />
    <Colors foreground="#000000" background="#ECF1F8" border="#C2C2C2" />
    <Size width="150" />
   </HoverText>

   <Contents enable="true" />

   <Index enable="true" />

   <Search enable="true">
    <Results showrank="true" />
    <Highlighting enable="true">
     <Colors foreground="#000000" background="#ECF1F8" />
    </Highlighting>
   </Search>

   <!-- Favorites not supported in JavaScript -->
   <Favorites enable="false" />
  </Panels>

  <Popups>
   <Colors foreground="#000000" background="#ECF1F8" border="#999999" />
   <Size width="200" />
  </Popups>
 </Common>

 <Implementations forcejavascript="false">
  <Java>
   <Font family="Tahoma, Verdana, sans-serif" size="11" font-weight="bold"/>
   <FrameColors background="#ECF1F8" />
   <Colors foreground="#000000" background="#ECF1F8" />

   <Panels>
    <Contents>
     <Colors background="#FFFFFF" />
    </Contents>

    <Index>
     <Font allowitalics="true" />
    </Index>
   </Panels>
  </Java>

  <JavaScript>
   <Font style="font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif ; font-size: 8pt" />
   <Indent value="17" />
   <AnchorColors highlight="#ECF1F8" enabled="#000000" disabled="#000000" />

   <Tabs>
    <!-- <Font> overrides can be specified here -->
    <Font style="font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif ; font-size: 8pt; font-weight: bold" />
   </Tabs>

   <Panels>
    <Contents>
     <!-- <Font>, <Indent>, and <AnchorColors> overrides can be specified here -->
    </Contents>

    <Index>
     <!-- <Font>, <Indent>, and <AnchorColors> overrides can be specified here -->

     <SectionNavigation threshold="500" separator=" - ">
      <Font style="font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif ; font-size: 8pt" />
      <CurrentColor value="black" />
      <AnchorColors highlight="#2657A6" enabled="#2657A6" disabled="#999999" />
     </SectionNavigation>
    </Index>

    <Search resultsbybook="true">
     <!-- <Font>, <Indent>, and <AnchorColors> overrides can be specified here -->
    </Search>
   </Panels>
  </JavaScript>
 </Implementations>

</WebWorksHelpSettings>
